* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

.bodyStyle {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.box1, .box2 {
  border: 2px solid #F1EBEA;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  padding: 20px 25px;
}

.box1 {
  float: left;
  margin-right: 50px;
}

.box2 {
  float: right;
  margin-left: 50px;
}

button {
  border: none;
  background: linear-gradient(#BFC9CA, #5F6A6A);
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
  display: block;
  margin: 20px 0;
}

button:hover {
  border: none;
  background: linear-gradient(#5F6A6A, #BFC9CA);
  color: white;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  padding: 5px 5px;
  cursor: pointer;
  color: #515A5A;
}

.liHover {
  background-color: #FCF3CF;
}

.liSelected {
  background-color: #82E0AA;
}

/*For webkit supported browsers*/
::-webkit-scrollbar {
  width: 16px;
  background-color: #F3E2E2;
}
::-webkit-scrollbar-thumb {
  background-color: #C4BDBD;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #BDACAC;
  border:1px solid #333333;
}
::-webkit-scrollbar-thumb:active {
  background-color: #A59292;
  border:1px solid  #333333;
}
::-webkit-scrollbar-track {
  border: 1px #D2B3B3 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #D2B3B3 inset;
}

/*For mozilla firefox browsers*/
::-moz-scrollbar {
  width: 16px;
  background-color: #F3E2E2;
}
::-moz-scrollbar-thumb {
  background-color: #C4BDBD;
  border-radius: 10px;
}
::-moz-scrollbar-thumb:hover {
  background-color: #BDACAC;
  border:1px solid #333333;
}
::-moz-scrollbar-thumb:active {
  background-color: #A59292;
  border:1px solid  #333333;
}
::-moz-scrollbar-track {
  border: 1px #D2B3B3 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #D2B3B3 inset;
}

/*For opera and pre-webkit browsers*/
::-o-scrollbar {
  width: 16px;
  background-color: #F3E2E2;
}
::-o-scrollbar-thumb {
  background-color: #C4BDBD;
  border-radius: 10px;
}
::-o-scrollbar-thumb:hover {
  background-color: #BDACAC;
  border:1px solid #333333;
}
::-o-scrollbar-thumb:active {
  background-color: #A59292;
  border:1px solid  #333333;
}
::-o-scrollbar-track {
  border: 1px #D2B3B3 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #D2B3B3 inset;
}

/*For internet explorer and microsoft edge browsers*/
::-ms-scrollbar {
  width: 16px;
  background-color: #F3E2E2;
}
::-ms-scrollbar-thumb {
  background-color: #C4BDBD;
  border-radius: 10px;
}
::-ms-scrollbar-thumb:hover {
  background-color: #BDACAC;
  border:1px solid #333333;
}
::-ms-scrollbar-thumb:active {
  background-color: #A59292;
  border:1px solid  #333333;
}
::-ms-scrollbar-track {
  border: 1px #D2B3B3 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #D2B3B3 inset;
}
